html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
}



*, *:before, *:after {
  box-sizing: inherit;
}

.clear-fix {
  clear: both;
}

.hidden {
  display:none;
}

.jumbotron {
  padding: 0;
  margin:0;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#header {
  position: absolute;
  z-index: 999;
}

.landing-bg {
  background: url('../images/profile_image.png') no-repeat;
  background-size: auto 40vw;
  background-position: center;
}


.logo-container, .social-container {
  padding: 0;
}

.logo {
  background-color: #fff;
  border-radius: 4px;
  width: 9vw;
  margin: 0;
  margin-top: -4px;
}

.logo img {
  width: 90%;
  height: 90%;
  padding: 1vw;
  margin: .25vw 0;
}

.web, .video {
  float: left;
  height:100%;
  width: 100%;
  padding: 0 auto;
  margin:0 auto;
  display: inline-block;
}


.work-title {
  font-size: 3vw;
  color: #333333;
  margin: 50% 3em; 
  padding: .5em 0;
  border: 1px solid #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
 
}

.work-title small {
  color: #333333;
  font-size: 1.5vw;
}

.video:hover .work-title, .web:hover .work-title {
  colocolorborder: 1px solid #333333;
  border-radius: 3px;
}

/* Social Icons */
#header {
  width: 100%;
}

.social {
  width: 100%;
  height: 5rem;
  text-align: center;
}

.social a {
  color: #fff;
  
}

.icon-circle .fa{ 
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  /*padding: .25em;*/
}



.social .icons > li {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 2.5vw;
  margin: 1em 0;

}

.social .fa-github, .fa-instagram, .fa-facebook, .fa-twitter {
  background-color: #000;
}

.social .icons > li:hover {
    cursor: pointer;
}

.social .twitter:hover {
    color: #55acee;
}
.social .facebook:hover {
    color: #4c66a4;
}
.social .instagram:hover {
    color: #3f729b;
}
.social .github:hover {
    color: #777777;
}
.contact .content .copy {
    font-size: 0.9rem;
    font-weight: 300;
    width: 100%;
    margin: 0 auto;
}


/*  Video Web Pages*/
#myCarousel {
  width: 100%;
}

#myCarousel img {
  height: auto;
  width: 100%;
}

.carousel-control {
  position: absolute;
  top: 50%;  
  z-index: 5;
  display: inline-block;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-caption {
  text-align: left;
  bottom: .5em;
  top: 25%;
}

@media only screen and (max-width: 500px) {
  .carousel-caption {
    top: .5em;
  }
}

#myCarousel .carousel-caption p{
  font-size: 1.5vw;
}

#myCarousel h1 {
  font-weight: 900;
  font-size: 6vw;
}

/* Portfolio */
.hash-font {
  font-family: 'Source Sans Pro', sans-serif;
  color: #145D85;
  font-weight: 700;

}
.fa-hashtag {
  color: #145D85;
}

#portfolio {
  width: 100%;
  padding: 6em 3em;
  background-color: #c8cbcf;
}

.portfolio-display {
  background: #bebebe url('../images/portfolio-bg.jpg') repeat-x;
  border-bottom: 1px solid #c8cbcf;
  
  width: 100%;
  padding: 3em 3em 6em 3em;
}

.section-title > h3 {
  font-weight: 400;
  font-size: 2vw;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 3em;
}

.section-title {
  margin: 3em 0;
}

.section-title .line {
  
  border-top: 3px solid #333333;
  width: 3em;
  margin-top: -4em;
  margin-bottom: 3em;

}

.video-wrapper {
  width: 80%;
  margin:0 auto;

}

.web-wrapper {
  width: 80%;
  margin:0 auto;
  padding: 3em 5em;
  background-color: #ffffff;
}



#portfolio .portfolio-item {
  padding: 0;
}

#portfolio .portfolio-items {
  width: 90%;
  margin: 0 auto;

}


#portfolio .portfolio-description h2 {
 font-size: 3rem;
 margin: 0;
}


#portfolio .portfolio-description p {
 font-size: 1.5rem;
}


.portfolio-description {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: auto;
  height: auto;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  text-decoration: none;
  color: #fff;
}

.portfolio-items .fa-play-circle-o, .fa-info-circle {
  margin-left: 38%;
  padding-bottom: .25em;
  color: #145D85;
}

.portfolio-items .fa-play-circle-o:hover, .fa-info-circle:hover {
  color: white;
}

#hover-effect .portfolio-description {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#hover-effect .portfolio-description a.expand {
  left: 10%;
  right: 0;
  top: 35%;
  margin: 0 auto -30px auto;
}
#hover-effect .portfolio-item.hover .portfolio-description {
  height: 100%;
}

.mockup {
  width: 90%;
  margin: 5em auto 0em auto;
 /* vertical-align: middle;*/
}

#project-image {
  width: 100%;

}


.project-content {
  margin: 5em auto 4em auto;
  
}

.project-title {
  
}

.project-tags {
  color:#b2c6cd;
  font-size:1.1rem;
  font-weight:700;
  letter-spacing:1px;
  text-transform:uppercase;
  padding-left: 0;
}

.project-tags:before {
  content:"\2022";
  margin-right:4px;
  color:#145D85;
  font-size:1.8rem;
}
/*
.project-tags ul {
  margin-left: 0;
}*/

.project-tags li {
  display:inline;
}

.project-tags li:last-child:after {
  content:"";
}

.project-tags li:after {
  content:",";
}

#visit-site { 
  text-align: center;
  margin-top: 1.5em;
}




/* Instagram Slider */
.instaSlider {
  width: 100%;
  margin: 0;
  padding: 3em 0;
  background-color: #145D85;
  border-bottom: 1px solid black;
}

 .insta-wrapper, #thumb {
  height: 14em;
}

#thumb {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#thumb img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

/* About Section */

.about {
  background: url('../images/black-bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

.about .section-title h3 {
  color: white;
}

.about h1 {
  font-size: 15vw;
  font-weight: 900;
  color: white;
}

.about p {
  padding-right: 10em;

}

.about #experience {
  padding-right: 2em;
  margin-bottom: 5em;
}

.about #experience h3 {
  color: #777777;
  font-size: 2vw;
  padding-left: 5em;

}

.about .line {
  border-top: 3px solid white;
}

.about .years-description {
  margin: 0 auto;

}

.about #experience {
  padding-left: 5em;
}

.about #breakdown {
  padding-left: 5em;
  margin-top: 3em;
}

.about .years h1 {
  font-size: 12vw;
  margin-bottom:0;
}



/* Contact Form */

.well {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 2em 10em 0 0;
  margin-bottom: 5em;
  
}
#success_message { 
  display: none;
}  

/*.btn-warning {
  background-color: #145D85;
  border: 0;
}

.btn-warning:hover {
  background-color: #00A6F2;
}*/

/*  Footer  */

.footer {
  background-color: #000;
  padding: 2em 0;
  margin: 0;
}

.footer .copy h5 {
  color: white;
  font-size: 1vw;
  margin: 0;
  padding-top: 2em;
}

.footer .social-container {
padding-bottom: 3em;
}

.footer .social .github:hover {
    color: #777777;
}

