html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
}



*, *:before, *:after {
  box-sizing: inherit;
}

.clear-fix {
  clear: both;
}



.jumbotron {
  padding: 0;
  margin:0;
}

#header {
  position: absolute;
  z-index: 999;
}

.landing-bg {
  background: url('../images/profile_image.png') no-repeat;
  background-size: auto 40vw;
  background-position: center;
}


.logo-container, .social-container {
  padding: 0;
}

.logo {
  background-color: #fff;
  border-radius: 4px;
  width: 9vw;
  margin: 0;
  margin-top: -4px;
}

.logo img {
  width: 90%;
  height: 90%;
  padding: 1vw;
  margin: .25vw 0;
}

.web, .video {
  float: left;
  height:100%;
  width: 100%;
  padding: 0 auto;
  margin:0 auto;
  display: inline-block;
}


.work-title {
  
  font-size: 3vw;
  color: #333333;
  margin: 50% 3em; 
  padding: .5em 0;
  border: 1px solid #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
 
}

.work-title small {
  color: #333333;
  font-size: 1.5vw;
}

.video:hover .work-title, .web:hover .work-title {
   border: 1px solid #333333;
  border-radius: 3px;
}

/* Social Icons */
.social {
  width: 100%;
  height: 5rem;
  text-align: center;
}

.social a {
  color: #fff;
}

.social .icons > li {
  width: 4rem;
  height: 4rem;
  padding: 1.2vw 2vw;
  font-size: 2.5vw;

}

.social .icons > li:hover {
    cursor: pointer;
}

.social .twitter:hover {
    color: #55acee;
}
.social .facebook:hover {
    color: #4c66a4;
}
.social .instagram:hover {
    color: #3f729b;
}
.social .github:hover {
    color: #000;
}
.contact .content .copy {
    font-size: 0.9rem;
    font-weight: 300;
    width: 100%;
    margin: 0 auto;
}

/*  Footer  */
.footer .copy h5 {
  font-size: 1vw;
}

/*  Video Web Pages*/
#myCarousel {
  width: 100%;
}

.carousel-caption {
  text-align: left;
}

#myCarousel .carousel-caption p{
  font-size: 1.5vw;
}

#myCarousel h1 {
  font-weight: 900;
}

/* Portfolio */
.hash-font {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
  font-weight: 700;
}

#portfolio {
  width: 100%;
  padding:0;
  background: #bebebe url('../images/portfolio-bg.jpg') repeat-x;
  border-bottom: 1px solid #891619;
}

#portfolio .portfolio-title h2 {
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 1em;
}

#portfolio .portfolio-title {
  margin: 3em 0;
}

.video-wrapper {
  width: 70%;
  margin:0 auto;

}

#portfolio .portfolio-items1 {
  margin-top: 3em;
}

#portfolio .portfolio-items2 {
  margin-bottom: 3em;
}
#portfolio .portfolio-item {
  padding: 0;
}

