#header {
  width: 100%;
  padding: 0px 0px;
  margin: 10px 0px;
}


.landing-bg {
  background: url('../images/profile_image.png') no-repeat;
  background-size: auto 40vw;
  background-position: center;
}


.logo-container, .social-container {
  padding: 10px;
}

.page-title {
  text-align: left;
}

.page-title img {
  width: 4vw;
  margin-right: 1vw;
  float: left;
}

.page-title .name {
  margin: 0;
  padding: 0;
  font-size: 2vw;
}

.page-title .description {
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
}

.social .icons .fab{
  color: #000;
}